[submodule "jni/dnsmasq"]
	path = jni/dnsmasq
	url = git@github.com:Android-Apps/dnsmasq.git
	branch = 2.65-release-branch
[submodule "jni/tinyproxy"]
	path = jni/tinyproxy
	url = git@github.com:Android-Apps/tinyproxy.git
[submodule "jni/polipo"]
	path = jni/polipo
	url = git@github.com:Android-Apps/polipo.git
