# For reference, see https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
*.pydevproject
.metadata
bin/**
gen/**
libs/**
obj/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath
#.project
#.settings/
.loadpath

# Google repo tooling
.repo

# External projects build via jni
jni/tinyproxy
jni/dnsmasq
jni/polipo

# Locally stored "Eclipse launch configurations"
#*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

